.coinsContainer {
  width: 100%;
  height: 500px;
}

.filtersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: white;
  background-color: #35548b;
  padding: 5px 10px;
}

.coinBox {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.route {
  width: 50%;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

.coinsContainer ul a:nth-child(4n+1) {
  background-color: #4066ad;
  color: white;
}

.coinsContainer ul a:nth-child(4n) {
  background-color: #4066ad;
  color: white;
}

.coinsContainer ul a:nth-child(4n-1) {
  background-color: #4872c2;
  color: white;
}

.coinsContainer ul a:nth-child(4n-2) {
  background-color: #4872c2;
  color: white;
}

.detailContainer {
  background-color: #5689e5;
  height: 85vh;
  color: white;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 15px;
}

.infoContainer {
  width: 70%;
  height: 50px;
  background-color: #3e64ab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailInfo {
  font-size: 17px;
}

.backBttn {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 10%;
}
